body {
    width: auto;
    background-image: url(../Images/review1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

h1, h2 {
    text-align: center;
}

.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#quote {
    color: red;
    text-align: center;
}

#floatRight {
    float: right;
}

h2 {
    clear: right;
}

h3 {
    float: right;
    padding-right: 50px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

#main {
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: solid;
    border-color: red;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    bottom: 200px;
}

#header-background {
    background-image: url(../Images/batmansymbol.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 240px;
    z-index: auto;
}

h1 {
    position: relative;
    z-index: 1;
}